/*
|--------------------------------------------------------------------------
| Basic Imports
|--------------------------------------------------------------------------
*/
@import "compass";
@import "vendor/_newReset";
@import "vendor/_mixins";
@import "susy";
@import "modular-scale";
@import "_fontface";


/*
|--------------------------------------------------------------------------
| Compass Settings
|--------------------------------------------------------------------------
*/
@include border-box-sizing;


/*
|--------------------------------------------------------------------------
| Vertical Rythm Settings
|--------------------------------------------------------------------------
*/
$base-font-size: 16px;
$base-line-height: 22px;
@include establish-baseline;


/*
|--------------------------------------------------------------------------
| Override Compass Baseline Mixin
|--------------------------------------------------------------------------
*/
@mixin baseline-grid {
	@include baseline-grid-background($base-line-height);
}


/*
|--------------------------------------------------------------------------
| Modular Scale Settings
|--------------------------------------------------------------------------
*/
$ratio: golden();
$base-size: $base-font-size;


/*
|--------------------------------------------------------------------------
| Susy Settings
|--------------------------------------------------------------------------
*/
$container-style: magic;
$total-columns: 12;
$column-width: 56px;
$gutter-width: 22px;
$grid-padding: 40px;


/*
|--------------------------------------------------------------------------
| Sprites example Import
|--------------------------------------------------------------------------
*/
// @import "sprites/*.png";
// Include like this
// .class {
// 	@include sprites-sprite(name);
// 	height: image-height("sprites/name.png");
// 	width: image-width("sprites/name.png");
// }


/*
|--------------------------------------------------------------------------
| Own Resets
|--------------------------------------------------------------------------
*/
a:focus { 
    outline: none; 
}


/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
*/
$base-background-color: adjust-lightness(black, 99);
$base-font-color: adjust-lightness(black, 20);
$title-font-family: sans-serif;
$base-font-family: serif;


/*
|--------------------------------------------------------------------------
| Base Styling
|--------------------------------------------------------------------------
*/
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	height: 100%;
	font-family: $base-font-family;
	color: $base-font-color;
	background-color: $base-background-color;
	@include antialiasing;
	@include adjust-font-size-to($base-font-size);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
|--------------------------------------------------------------------------
| Base Font Sytling
|--------------------------------------------------------------------------
*/
#{headings()} {
	font-family: $title-font-family;
	text-rendering: optimizeLegibility;
}

h1 {
	@include adjust-font-size-to(ms(2));
	font-weight: bold;
}

h2 {
	@include adjust-font-size-to(ms(1));
}

h3 {
	@include adjust-font-size-to(ms(0));
	font-weight: bold;
}


/*
|--------------------------------------------------------------------------
| Site Styling
|--------------------------------------------------------------------------
*/
.container {
	@include container;
	@include leader(2, ms(0));
	@include trailer(4, ms(0));

	// @include susy-grid-background;
	// @include baseline-grid;
}


/*
|--------------------------------------------------------------------------
| Print Styling
|--------------------------------------------------------------------------
*/
@import "_print";