extends layout/main

block title
	title Grunt-Starter – Website

//- block description
	meta(name="description", content="")

//- append stylesheet
	put extended stylesheet

block content
	h1 Grunt-Starter Website
	h2 Welcome
	h3 You have installed
	ul
		li HTML5 Boilerplate
		li Modernizr
		li Modular Scale

	include markdown/index.md